name: Build

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17]
    name: "Java ${{ matrix.java }} build"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
          cache: "maven"
          cache-dependency-path: "pom.xml"
      - uses: actions/cache@v3
        env:
          cache-name: node
        with:
          path: |
            node
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('pom.xml', 'package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - run: mvn -B verify --file pom.xml
        env:
          PUPPETEER_CACHE_DIR: ${{ github.workspace }}/node
